## Mã hóa One-hot

Mã hóa one-hot gồm mã hóa từng biến hạng mục với các biến boolean khác (còn được gọi là biến giả) nhận các giá trị 0 hoặc 1, cho biết liệu một hạng mục có xuất hiện trong một quan sát hay không.


Ví dụ: với biến hạng mục "Gender" có nhãn 'female' và 'male', chúng ta có thể tạo biến boolean "female", biến này nhận 1 nếu đó là nữ hoặc 0 nếu là nam, hay chúng ta có thể tạo biến "male" nhận 1 nếu đó là nam và 0 nếu đó là nữ.

Đối với biến hạng mục "color" có các giá trị 'red', 'blue' and 'green', chúng ta có thể tạo 3 biến mới là "red", "blue" và "green". Các biến này sẽ nhận giá trị 1 nếu quan sát có màu đã nói hoặc 0 nếu ngược lại.


### Mã hóa thành k-1 biến giả

Lưu ý với biến "color", bằng cách tạo 2 biến nhị phân như "red" và "blue", chúng ta đã mã hóa **TẤT CẢ** thông tin:

- nếu quan sát có màu đỏ, nó sẽ được ghi lại bởi biến "red" (red = 1, blue = 0).
- nếu quan sát có màu xanh dương, nó sẽ được ghi lại bởi biến "blue" (red = 0, blue = 1).
- nếu quan sát có màu xanh lá cây, nó sẽ được ghi lại bằng tổ hợp của "red" và "blue" (red = 0, blue  = 0).

Chúng ta không cần thêm biến thứ ba "green" để xác định quan sát có màu xanh lá cây.

Tổng quát hơn, biến hạng mục nên được mã hóa bằng cách tạo k-1 biến nhị phân, trong đó k là số hạng mục riêng biệt. Trong trường hợp giới tính, k = 2 (nam/nữ), do đó chúng ta chỉ cần tạo 1 (k - 1 = 1) biến nhị phân. Trường hợp màu có 3 hạng mục khác nhau (k = 3), chúng ta cần tạo 2 (k - 1 = 2) biến nhị phân để thu thập tất cả thông tin.

Mã hóa one-hot thành k-1 biến nhị phân có tính đến việc sử dụng ít hơn 1 thứ nguyên và vẫn biểu diễn toàn bộ thông tin: nếu quan sát là 0 trong tất cả các biến nhị phân thì nó phải là 1 trong biến nhị phân cuối cùng (không xuất hiện).

**Khi mã hóa one-hot các biến hạng mục, chúng ta tạo k-1 biến nhị phân.**


Phần lớn các thuật toán học máy đều xem xét toàn bộ tập dữ liệu trong khi khớp. Do đó, mã hóa các biến hạng mục thành k - 1 biến nhị phân sẽ  tốt hơn vì nó tránh đưa vào thông tin dư thừa.


### Ngoại lệ: Mã hóa one-hot thành k biến giả

Một số trường hợp tốt hơn nên mã hóa các biến thành k biến giả:

- khi xây dựng các thuật toán cây
- khi thực hiện lựa chọn đặc trưng bởi các thuật toán đệ quy
- khi muốn xác định mức độ quan trọng của từng hạng mục riêng lẻ

Ngược với hầu hết các thuật toán học máy, các thuật toán cây **không** đánh giá toàn bộ tập dữ liệu trong khi được huấn luyện. Chúng trích xuất ngẫu nhiên một tập hợp con các đặc trưng từ tập dữ liệu tại từng nút cho mỗi cây. Do đó, nếu chúng ta muốn một thuật toán cây để xem xét **tất cả** các hạng mục thì cần mã hóa các biến hạng mục thành **k biến nhị phân**.

Nếu chúng ta dự định thực hiện lựa chọn đặc trưng bằng cách loại bỏ (hoặc thêm) đệ quy hoặc nếu chúng ta muốn đánh giá mức độ quan trọng của từng hạng mục đơn lẻ của biến hạng mục thì cũng sẽ cần toàn bộ tập hợp các biến nhị phân (k) để mô hình học máy lựa chọn đặc trưng có khả năng dự đoán tốt nhất.


### Ưu điểm của mã hóa one-hot

- Dễ thực hiện.
- Không đưa ra giả định về các hạng mục hoặc phân phối của biến hạng mục.
- Giữ tất cả thông tin của biến hạng mục.
- Thích hợp với mô hình tuyến tính.

### Hạn chế

- Mở rộng không gian đặc trưng.
- Không thêm thông tin bổ sung trong khi mã hóa.
- Nhiều biến giả có thể giống hệt nhau, đưa thông tin dư thừa.


### Lưu ý

Nếu tập dữ liệu chứa một vài biến có độ cardinal cao thì chúng ta sẽ sớm kết thúc với tập dữ liệu có hàng nghìn cột, điều này có thể khiến việc huấn luyện các thuật toán bị chậm và diễn giải mô hình trở nên khó khăn hơn.


Ngoài ra, có nhiều biến giả giống nhau nên không có gì lạ khi 2 hoặc nhiều biến có cùng các tổ hợp giống nhau của 1 và 0. Do đó, mã hóa one-hot có thể đưa ra thông tin dư thừa hoặc trùng lặp ngay cả khi chúng ta mã hóa thành k-1.


## Trong bản mô phỏng này:

Chúng ta sẽ thực hiện mã hóa one-hot với:
- pandas
- Scikit-learn
- Feature-Engine

Chúng ta sẽ sử dụng tập dữ liệu Titanic để minh họa các ưu điểm và hạn chế của từng triển khai.

In [1]:
import pandas as pd

# chia tập dữ liệu
from sklearn.model_selection import train_test_split

# mã hóa one-hot với sklearn
from sklearn.preprocessing import OneHotEncoder

# mã hóa one-hot với feature-engine
from feature_engine.encoding import OneHotEncoder as fe_OneHotEncoder

In [2]:
# load tập dữ liệu titanic

data = pd.read_csv('./datatset/titanic.csv',
                   usecols=['sex', 'embarked', 'cabin', 'survived'])
data.head()

   survived     sex cabin embarked
0         1  female    B5        S
1         1    male   C22        S
2         0  female   C22        S
3         0    male   C22        S
4         0  female   C22        S

In [3]:
# chỉ lấy chữ cái đầu của
# cabin cho minh họa này

data['cabin'] = data['cabin'].str[0]

data.head()

   survived     sex cabin embarked
0         1  female     B        S
1         1    male     C        S
2         0  female     C        S
3         0    male     C        S
4         0  female     C        S

### Mã hóa quan trong

Cũng giống như phép gán, tất cả các phương pháp mã hóa hạng mục phải được thực hiện trên tập huấn luyện, sau đó truyền sang tập kiểm tra.


Tại sao? 

Các phương pháp này sẽ "học" các mẫu từ dữ liệu huấn luyện nên chúng ta cần tránh rò rỉ thông tin và overfitting. Nhưng quan trọng hơn, vì chúng ta không biết liệu trong dữ liệu tương lai/trực tiếp sẽ có tất cả các hạng mục hiện diện trong dữ liệu huấn luyện hay có nhiều hoặc ít hạng mục hơn. Do đó, chúng ta cần lường trước sự không chắc chắn này bằng cách thiết lập các quy trình phù hợp ngay từ đầu. Cần tạo các transformer tìm hiểu các hạng mục từ tập huấn luyện và sử dụng các hạng mục đã học đó để tạo các biến giả trong cả tập huấn luyện và tập kiểm tra.

In [4]:
# hãy chia thành tập huấn luyện và tập kiểm tra

X_train, X_test, y_train, y_test = train_test_split(
    data[['sex', 'embarked', 'cabin']],  # các yếu tố dự báo
    data['survived'],  # mục tiêu
    test_size=0.3,  # phần trăm các quan sát trong tập kiểm tra
    random_state=0)  # seed đảm bảo khả năng tái lặp

X_train.shape, X_test.shape

((916, 3), (393, 3))

### Khám phá cardinality

In [9]:
## Yêu cầu 1: sex có 2 nhãn
## VIẾT CODE Ở ĐÂY:
X_train['sex'].unique()

array(['female', 'male'], dtype=object)

<details><summary> Gợi ý </summary>

[unique()](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.unique.html)

</details>

In [10]:
## Yêu cầu 2: embarked có 3 nhãn và các dữ liệu bị khuyết
## VIẾT CODE Ở ĐÂY:
X_train['embarked'].unique()

array(['S', 'C', 'Q', nan], dtype=object)

In [11]:
## Yêu cầu 3: cabin có 9 nhãn và các dữ liệu bị khuyết
## VIẾT CODE Ở ĐÂY:
X_train['cabin'].unique()

array([nan, 'E', 'C', 'D', 'B', 'A', 'F', 'T', 'G'], dtype=object)

## Mã hóa one-hot với pandas 

### Ưu điểm

- nhanh
- trả về pandas dataframe
- trả về tên đặc trưng cho các biến giả

### Hạn chế của pandas:

- Không giữ thông tin từ tập huấn luyện để truyền tới dữ liệu kiểm tra.


-----

Phương thức get_dummies() của pandas sẽ tạo nhiều biến nhị phân như các hạng mục trong biến:

Nếu biến colour có 3 hạng mục trong dữ liệu huấn luyện thì nó sẽ tạo 2 biến giả. Tuy nhiên, nếu biến colour có 5 hạng mục trong dữ liệu kiểm tra thì nó sẽ tạo 4 biến nhị phân, do đó các tập huấn luyện và tập kiểm tra sẽ có số lượng đặc trưng khác nhau, không tương thích với huấn luyện và tính điểm bằng Scikit-learn.

Trên thực tế, chúng ta không nên sử dụng get-dummies trong quy trình học máy, dù nó rất hữu ích để nhanh chóng khám phá dữ liệu. Hãy xem các ví dụ sau.


### thành k biến giả

In [13]:
## Yêu cầu 4: tạo các biến giả với 
# phương thức get_dummies của pandas

## VIẾT CODE Ở ĐÂY:
tmp = pd.get_dummies(X_train['sex'])

tmp.head()

      female  male
501        1     0
588        1     0
402        1     0
1193       0     1
686        1     0

<details><summary> Gợi ý </summary>

[get_dummies()](https://pandas.pydata.org/docs/reference/api/pandas.get_dummies.html)

</details>

In [15]:
## Yêu cầu 5: để hiển thị tốt hơn, hãy đặt các vật giả
# vào biến ban đầu

## VIẾT CODE Ở ĐÂY:
pd.concat([X_train['sex'], tmp], axis=1).head()

         sex  female  male
501   female       1     0
588   female       1     0
402   female       1     0
1193    male       0     1
686   female       1     0

<details><summary> Gợi ý </summary>

[concat()](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.concat.html)

</details>

In [16]:
## Yêu cầu 6: lặp lại với embarked

## VIẾT CODE Ở ĐÂY:
tmp = pd.get_dummies(X_train['embarked'])

tmp.head()

      C  Q  S
501   0  0  1
588   0  0  1
402   1  0  0
1193  0  1  0
686   0  1  0

In [18]:
## Yêu cầu 7: để hiển thị tốt hơn

## VIẾT CODE Ở ĐÂY:
pd.concat([X_train['embarked'],tmp],axis = 1).head()

     embarked  C  Q  S
501         S  0  0  1
588         S  0  0  1
402         C  1  0  0
1193        Q  0  1  0
686         Q  0  1  0

In [19]:
## Yêu cầu 8: thực hiện với cabin

## VIẾT CODE Ở ĐÂY:
tmp = pd.get_dummies(X_train['cabin'])

tmp.head()

      A  B  C  D  E  F  G  T
501   0  0  0  0  0  0  0  0
588   0  0  0  0  0  0  0  0
402   0  0  0  0  0  0  0  0
1193  0  0  0  0  0  0  0  0
686   0  0  0  0  0  0  0  0

In [20]:
## Yêu cầu 9: thực hiện cho tất cả các biến: tập huấn luyện

## VIẾT CODE Ở ĐÂY:
tmp = pd.get_dummies(X_train)

print(tmp.shape)

tmp.head()

(916, 13)

,sex_female,sex_male,embarked_C,embarked_Q,embarked_S,cabin_A,cabin_B,cabin_C,cabin_D,cabin_E,cabin_F,cabin_G,cabin_T
501,1,0,0,0,1,0,0,0,0,0,0,0,0
588,1,0,0,0,1,0,0,0,0,0,0,0,0
402,1,0,1,0,0,0,0,0,0,0,0,0,0
1193,0,1,0,1,0,0,0,0,0,0,0,0,0
686,1,0,0,1,0,0,0,0,0,0,0,0,0

In [21]:
## Yêu cầu 10: thực hiện cho tất cả các biến: tập kiểm tra

## VIẾT CODE Ở ĐÂY:
tmp = pd.get_dummies(X_test)

print(tmp.shape)

tmp.head()

(393, 12)

,sex_female,sex_male,embarked_C,embarked_Q,embarked_S,cabin_A,cabin_B,cabin_C,cabin_D,cabin_E,cabin_F,cabin_G
1139,0,1,0,0,1,0,0,0,0,0,0,0
533,1,0,0,0,1,0,0,0,0,0,0,0
459,0,1,0,0,1,0,0,0,0,0,0,0
1150,0,1,0,0,1,0,0,0,0,0,0,0
393,0,1,0,0,1,0,0,0,0,0,0,0

Lưu ý những mặt tích cực  của get_dummies:
- dataframe trả về tên đặc trưng 

**Hạn chế:**

Tập huấn luyện chứa 13 đặc trưng giả trong khi tập kiểm tra có 12 đặc trưng. Điều này là do không có hạng mục T trong cabin trong tập kiểm tra.

Điều này sẽ gây ra vấn đề nếu huấn luyện và cho điểm các mô hình với scikit-learn, vì các bộ dự đoán yêu cầu tập kiểm tra và tập huấn luyện phải có cùng hình dạng.

### thành k -1

In [22]:
## Yêu cầu 11: thu k-1 nhãn: cần chỉ ra get_dummies
# để loại biến nhị phân đầu tiên

## VIẾT CODE Ở ĐÂY:
tmp = pd.get_dummies(X_train['sex'], drop_first=True)

tmp.head()

      male
501      0
588      0
402      0
1193     1
686      0

In [23]:
## Yêu cầu 12: thu k-1 nhãn: cần chỉ ra get_dummies
# để loại biến nhị phân đầu tiên

## VIẾT CODE Ở ĐÂY:
tmp = pd.get_dummies(X_train['embarked'], drop_first=True)

tmp.head()

      Q  S
501   0  1
588   0  1
402   0  0
1193  1  0
686   1  0

Với embarked, nếu một quan sát hiển thị 0 cho Q và S thì giá trị của nó phải là hạng mục C còn lại.

Lưu ý, biến này có dữ liệu bị khuyết, vì vậy trừ khi chúng ta cũng mã hóa dữ liệu bị khuyết, nếu không tất cả thông tin có trong biến sẽ không được ghi lại.

In [24]:
## Yêu cầu 13: nhìn chung: tập huấn luyện

## VIẾT CODE Ở ĐÂY:
tmp = pd.get_dummies(X_train, drop_first=True)

print(tmp.shape)

tmp.head()

(916, 10)

,sex_male,embarked_Q,embarked_S,cabin_B,cabin_C,cabin_D,cabin_E,cabin_F,cabin_G,cabin_T
501,0,0,1,0,0,0,0,0,0,0
588,0,0,1,0,0,0,0,0,0,0
402,0,0,0,0,0,0,0,0,0,0
1193,1,1,0,0,0,0,0,0,0,0
686,0,1,0,0,0,0,0,0,0,0

In [25]:
## Yêu cầu 14: nhìn chung: tập kiểm tra

## VIẾT CODE Ở ĐÂY:
tmp = pd.get_dummies(X_test, drop_first=True)

print(tmp.shape)

tmp.head()

(393, 9)

,sex_male,embarked_Q,embarked_S,cabin_B,cabin_C,cabin_D,cabin_E,cabin_F,cabin_G
1139,1,0,1,0,0,0,0,0,0
533,0,0,1,0,0,0,0,0,0
459,1,0,1,0,0,0,0,0,0
1150,1,0,1,0,0,0,0,0,0
393,1,0,1,0,0,0,0,0,0

### Bonus: get_dummies() có thể xử lý các giá trị bị khuyết

In [26]:
## Yêu cầu 15: có thể thêm biến giả bổ sung để chỉ
# dữ liệu bị khuyết

## VIẾT CODE Ở ĐÂY:
pd.get_dummies(X_train['embarked'], drop_first=True, dummy_na=True).head()

      Q  S  NaN
501   0  1    0
588   0  1    0
402   0  0    0
1193  1  0    0
686   1  0    0

## Mã hóa one-hot với Scikit-learn

### Ưu điểm

- nhanh
- tạo cùng số lượng đặc trưng trong tập huấn luyện và tập kiểm tra

### Hạn chế

- trả về một mảng numpy thay vì pandas dataframe
- không trả về tên biến, do đó khám phá biến sẽ bất tiện

In [28]:
# tạo và huấn luyện encoder

encoder = OneHotEncoder(categories='auto',
                       drop='first', # trả về k-1, sử dụng drop=false để trả về k biến giả
                       sparse=False,
                       handle_unknown='error') # giúp xử lý nhãn hiếm

encoder.fit(X_train.fillna('Missing'))

OneHotEncoder(drop='first', sparse=False)

In [29]:
# quan sát các hạng mục đã tìm hiểu

encoder.categories_

[array(['female', 'male'], dtype=object),
 array(['C', 'Missing', 'Q', 'S'], dtype=object),
 array(['A', 'B', 'C', 'D', 'E', 'F', 'G', 'Missing', 'T'], dtype=object)]

In [30]:
# biến đổi tập huấn luyện

tmp = encoder.transform(X_train.fillna('Missing'))

pd.DataFrame(tmp).head()

    0    1    2    3    4    5    6    7    8    9    10   11
0  0.0  0.0  0.0  1.0  0.0  0.0  0.0  0.0  0.0  0.0  1.0  0.0
1  0.0  0.0  0.0  1.0  0.0  0.0  0.0  0.0  0.0  0.0  1.0  0.0
2  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  1.0  0.0
3  1.0  0.0  1.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  1.0  0.0
4  0.0  0.0  1.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  1.0  0.0

In [ ]:
# MỚI: trong bản phát hành mới nhất của Scikit-learn
# chúng ta có thể truy xuất tên các đặc trưng như sau:

encoder.get_feature_names()

array(['x0_male', 'x1_Missing', 'x1_Q', 'x1_S', 'x2_B', 'x2_C', 'x2_D',
       'x2_E', 'x2_F', 'x2_G', 'x2_Missing', 'x2_T'], dtype=object)

In [31]:
# tiếp tục và biến đổi tập kiểm tra
# sau đó tái lập lại về pandas dataframe
# và thêm tên đặc trưng được suy ra bởi OHE

tmp = encoder.transform(X_test.fillna('Missing'))

tmp = pd.DataFrame(tmp)
tmp.columns = encoder.get_feature_names()

tmp.head()

,x0_male,x1_Missing,x1_Q,x1_S,x2_B,x2_C,x2_D,x2_E,x2_F,x2_G,x2_Missing,x2_T
0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
1,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
2,1.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
3,1.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
4,1.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0

Chúng ta thấy tập huấn luyện và tập kiểm tra có số lượng các đặc trưng như nhau.

Để biết thêm chi tiết về OneHotEncoder của Scikit-learn:
https://scikit-learn.org/stable/modules/generated/sklearn.preprocessing.OneHotEncoder.html

## Mã hóa one-hot với Feature-Engine

### Ưu điểm
- nhanh
- trả về dataframe
- trả về tên đặc trưng 
- cho phép lựa chọn đặc trưng để mã hóa

### Hạn chế
- Chưa chắc chắn.

In [32]:
ohe_enc = fe_OneHotEncoder(
    top_categories=None,
    variables=['sex', 'embarked'],  # có thể chọn biến để mã hóa
    drop_last=True)  # trả về k-1, false trả về k


ohe_enc.fit(X_train.fillna('Missing'))

OneHotEncoder(drop_last=True, variables=['sex', 'embarked'])

In [33]:
tmp = ohe_enc.transform(X_train.fillna('Missing'))

tmp.head()

        cabin  sex_female  embarked_S  embarked_C  embarked_Q
501   Missing           1           1           0           0
588   Missing           1           1           0           0
402   Missing           1           0           1           0
1193  Missing           0           0           0           1
686   Missing           1           0           0           1

Lưu ý cách feature-engine trả về tên của các biến giả và loại bỏ biến ban đầu để tập dữ liệu sẵn sàng cho việc khám phá thêm hoặc xây dựng các mô hình học máy.

In [34]:
tmp = ohe_enc.transform(X_test.fillna('Missing'))

tmp.head()

        cabin  sex_female  embarked_S  embarked_C  embarked_Q
1139  Missing           0           1           0           0
533   Missing           1           1           0           0
459   Missing           0           1           0           0
1150  Missing           0           1           0           0
393   Missing           0           1           0           0

In [35]:
# OnehotEncoder của Feature-Engine cũng lựa chọn
# tất cả các biến hạng mục tự động

ohe_enc = fe_OneHotEncoder(
    top_categories=None,
    drop_last=True)  # trả về k-1, false trả về k


ohe_enc.fit(X_train.fillna('Missing'))

OneHotEncoder(drop_last=True)

In [36]:
ohe_enc.variables_

['sex', 'embarked', 'cabin']

In [37]:
tmp = ohe_enc.transform(X_train.fillna('Missing'))

tmp.head()

,sex_female,embarked_S,embarked_C,embarked_Q,cabin_Missing,cabin_E,cabin_C,cabin_D,cabin_B,cabin_A,cabin_F,cabin_T
501,1,1,0,0,1,0,0,0,0,0,0,0
588,1,1,0,0,1,0,0,0,0,0,0,0
402,1,0,1,0,1,0,0,0,0,0,0,0
1193,0,0,0,1,1,0,0,0,0,0,0,0
686,1,0,0,1,1,0,0,0,0,0,0,0

In [38]:
tmp = ohe_enc.transform(X_test.fillna('Missing'))

tmp.head()

,sex_female,embarked_S,embarked_C,embarked_Q,cabin_Missing,cabin_E,cabin_C,cabin_D,cabin_B,cabin_A,cabin_F,cabin_T
1139,0,1,0,0,1,0,0,0,0,0,0,0
533,1,1,0,0,1,0,0,0,0,0,0,0
459,0,1,0,0,1,0,0,0,0,0,0,0
1150,0,1,0,0,1,0,0,0,0,0,0,0
393,0,1,0,0,1,0,0,0,0,0,0,0

Lưu ý cách encoder cũng trả về biến cabin_T cho tập kiểm tra mặc dù hạng mục này không có trong tập kiểm tra. Điều này cho phép tích hợp với quy trình Scikit-learning và tính điểm tập kiểm tra bởi thuật toán đã xây.

Trên thực tế, chúng ta có thể kiểm tra thấy tổng cabin_t là 0:

In [39]:
tmp['cabin_T'].sum()

0